backups/
blueprints/
crash-reports/
emojiful/
journeymap/
local/
logs
resourcepacks/
mods/
saves/
screenshots
shaderpacks/
config/worldedit/
immersive_paintings_cache/
ESM/
etched-cache/

usercache.json
usernamecache.json
modernfix/
.vscode/
lwjgl.dll
jemalloc.dll
glfw.dll
jna8820213177836739703.dll
jna8820213177836739703.dll.x
lwjgl_opengl.dll
lwjgl_stb.dll
lwjgl.dll
OpenAL.dll